body{
    margin:0;
    padding:0;
    font-family:  sans-serif;
}

nav{
    display:flex;
    padding-top: 200px;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2vw;
    width:20vw;
    background-color:#3D4F5D ; 

}
nav h1{
    color: aliceblue;
    margin-bottom: 0;


}

nav p{
    color:#B1C7D9;
    margin-top: 0;
    text-align: right;
}

.btn{
    text-decoration: none;
    color:white;
    border: #B1C7D9 2px solid;
    border-radius: 2px 2px 2px 2px;
    padding: 7px 7px;
    font-size: 11px;
    

}

.block{
   display:flex;
   flex-direction: column;
    width: 80vw;
    padding-left:30px ;
    padding-right: 30px;

}
section >:first-child{
     border-bottom:rgb(214, 209, 209) 2px solid ;
 }
 section>h1{
     margin-bottom: 1vh;
 }

 .block p{
     line-height: 4vh;
 }
 .sub-title{
     color: rgb(179, 173, 173);
 }

.css{
    border: 1px solid rgb(7, 189, 7);
    background-color: rgb(7, 189, 7);
    color:white;
    padding: 3px;
    margin: 3px;
    width:20%
}

.js{
    border: 1px solid rgb(24, 152, 236);
    background-color: rgb(24, 152, 236);
    color:white;
    padding: 3px;
    width:20%;
}
 .js2{
    border: 1px solid rgb(212, 58, 58);
    background-color: rgb(212, 58, 58);
    color:white;
    padding: 3px;
    width:20%;
 }

 .places{
    border: 1px solid rgb(139, 134, 134);
    background-color:  rgb(139, 134, 134);
    color:white;
    padding: 3px;
    width:20%;
 }

.main{
display: flex;

}

.salah{
    text-decoration: none;
    color: rgb(24, 152, 236);
}

.re{
    width: 35vw;
    margin: 20px 30px 30px 0px;
}

.imgDiv{
    display: flex;
    align-items:flex-start;
}

footer{
    text-align: center;
    color: rgb(192, 189, 189);
    word-spacing: 50px;
    margin-bottom: 20px;
    padding: 10px;
}